<div class="row">
  <div class="col-md-6">
    <h2><b>Blogs</b></h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let blog of blogs"
        (click)="selectBlog(blog)"
        [class.active]="blog === selectedBlog">
        <h4><b>{{blog.title}}</b></h4>
        <p><b>{{blog.author}}</b></p>
        <p>{{blog.content}}</p>
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewBlog()">New Blog</button>
  </div>
  <div class="col-md-6">
    <blog-details
      [blog]="selectedBlog"
      [cblog]="copyBlog"
      [createHandler]="addBlog"
      [updateHandler]="updateBlog"
      [deleteHandler]="deleteBlog">
    </blog-details>
  </div>
</div>
