<div class="row">
  <div class="col-md-6">
    <h1>Blogs</h1>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let blog of blogs"
        (click)="selectBlog(blog)"
        [class.active]="blog === selectedBlog">
        <h3>{{blog.title}}</h3>
        <h4>{{blog.author}}</h4>
        <p>{{blog.content}}</p>
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewBlog()">New Blog</button>
  </div>
  <div class="col-md-6">
    <blog-details
      [blog]="selectedBlog"
      [createHandler]="addBlog"
      [updateHandler]="updateBlog"
      [deleteHandler]="deleteBlog">
    </blog-details>
  </div>
</div>
